<div class="setup-part">
  <div
    class="group-div">
    <h2 class="text-center">Front</h2>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Antiroll Bar</p>
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.frontAntiRollBar">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Brake Power</p>
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.brakePower">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Brake Bias</p>
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.brakeBias">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Steer Ratio</p>
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.steerRatio">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <p>Left</p>
      </div>
      <div class="two-sided-row-item">

      </div>
      <div class="two-sided-row-item">
        <p>Right</p>
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.frontLeftWheelRate">
      </div>
      <div class="two-sided-row-item">
        <p>Wheel Rate</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.frontRightWheelRate">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.frontLeftBumpstopRate">
      </div>
      <div class="two-sided-row-item">
        <p>Bumpstop Rate</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.frontRightBumpstopRate">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.frontLeftBumpstopRange">
      </div>
      <div class="two-sided-row-item">
        <p>Bumpstop Range</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.frontRightBumpstopRange">
      </div>
    </div>
  </div>
  <div class="group-div">
    <h2 class="text-center">Rear</h2>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.rearLeftWheelRate">
      </div>
      <div class="two-sided-row-item">
        <p>Wheel Rate</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.rearRightWheelRate">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.rearLeftBumpstopRate">
      </div>
      <div class="two-sided-row-item">
        <p>Bumpstop Rate</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.rearRightBumpstopRate">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.rearLeftBumpstopRange">
      </div>
      <div class="two-sided-row-item">
        <p>Bumpstop Range</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.rearRightBumpstopRange">
      </div>
    </div>
    <div class="one-sided-row">
    <div class="one-sided-row-item">
      <p>Antiroll Bar</p>
      <input class="input" type="number" [(ngModel)]="mechanicalGripValues.rearAntiRollBar">
    </div>
  </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Preload Differential</p>
        <input class="input" type="number" [(ngModel)]="mechanicalGripValues.preloadDifferential">
      </div>
    </div>
  </div>
</div>
