<div class="d-flex align-items-center justify-content-center container m-auto rounded-5 glass mh-75">
  <div *ngIf="!allSelected"
       class="d-flex flex-column justify-content-center align-items-center bg-body-tertiary bg-opacity-50 rounded-3 m-2">
    <div class="d-flex justify-content-center align-items-center flex-wrap mt-2">
      <div class="container w-auto">
        <div class="d-sm-flex flex-column justify-content-center w-auto">
          <label for="trackSelect" class="col-sm-2">
            <span class="h6 small text-muted pt-1 pl-2 pr-2">Track</span>
          </label>
          <select id="trackSelect" class="form-select" [(ngModel)]="selectedTrack" name="selectedCar">
            <option class="select" value="" selected>Select a track</option>
            <option class="select" *ngFor="let track of tracksList">{{ TransformEnumToString(track) }}</option>
          </select>
        </div>
        <div class="d-sm-flex flex-column justify-content-center w-auto">
          <label for="carSelect" class="col-sm-2">
            <span class="h6 small text-muted pt-1 pl-2 pr-2">Car</span>
          </label>
          <select id="carSelect" class="form-select" [(ngModel)]="selectedCar" name="selectedCar">
            <option class="select" value="" selected>Select a car</option>
            <option class="select" *ngFor="let car of carsList">{{ TransformEnumToString(car) }}</option>
          </select>
        </div>
        <div class="d-flex justify-content-center align-items-center m-2">
          <button type="button" class="btn btn-primary" [disabled]="!selectedTrack || !selectedCar"
                  (click)="StartSetup()">
            Start
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="allSelected"
       class="d-flex flex-column justify-content-center align-items-center bg-body-tertiary bg-opacity-50 rounded-3 m-2">
    <div class="d-flex justify-content-around align-items-center flex-wrap mt-2">
      <button [ngClass]="selectedSetupPart === 'tyres' ? 'btn btn-dark m-1 w-auto' : 'btn btn-primary m-1 w-auto'"
              (click)="ToggleSelectedPart('tyres')">
        Tyres
      </button>
      <button [ngClass]="selectedSetupPart === 'electronics' ? 'btn btn-dark m-1 w-auto' : 'btn btn-primary m-1 w-auto'"
              (click)="ToggleSelectedPart('electronics')">
        Electronics
      </button>
      <button
        [ngClass]="selectedSetupPart === 'fuelStrategy' ? 'btn btn-dark m-1 w-auto' : 'btn btn-primary m-1 w-auto'"
        (click)="ToggleSelectedPart('fuelStrategy')">
        Fuel & Strategy
      </button>
      <button
        [ngClass]="selectedSetupPart === 'mechanicalGrip' ? 'btn btn-dark m-1 w-auto' : 'btn btn-primary m-1 w-auto'"
        (click)="ToggleSelectedPart('mechanicalGrip')">
        Mechanical Grip
      </button>
      <button [ngClass]="selectedSetupPart === 'dampers' ? 'btn btn-dark m-1 w-auto' : 'btn btn-primary m-1 w-auto'"
              (click)="ToggleSelectedPart('dampers')">
        Dampers
      </button>
      <button [ngClass]="selectedSetupPart === 'aero' ? 'btn btn-dark m-1 w-auto' : 'btn btn-primary m-1 w-auto'"
              (click)="ToggleSelectedPart('aero')">
        Aero
      </button>
    </div>
    <ng-container>
      <div *ngIf="selectedSetupPart === 'tyres'">
        <app-tyres [tyresValues]="setupValues.tyres" [validateTyres]="validator.validateTyres"
                   (dataUpdate)="handleTyresUpdate($event)"></app-tyres>
      </div>
      <div *ngIf="selectedSetupPart === 'electronics'">
        <app-electronics [electronicsValues]="setupValues.electronics"
                         [validateElectronics]="validator.validateElectronics"
                         (dataUpdate)="handleElectronicsUpdate($event)"></app-electronics>
      </div>
      <div *ngIf="selectedSetupPart === 'fuelStrategy'">
        <app-fuel-strategy [fuelStrategyValues]="setupValues.fuelStrategy"
                           [validateFuelStrategy]="validator.validateFuelStrategy"
                           (dataUpdate)="handleFuelStrategyUpdate($event)"></app-fuel-strategy>
      </div>
      <div *ngIf="selectedSetupPart === 'mechanicalGrip'">
        <app-mechanical-grip [mechanicalGripValues]="setupValues.mechanicalGrip"
                             [validateMechanicalGrip]="validator.validateMechanicalGrip"
                             (dataUpdate)="handleMechanicalGripUpdate($event)"></app-mechanical-grip>
      </div>
      <div *ngIf="selectedSetupPart === 'dampers'">
        <app-dampers [dampersValues]="setupValues.dampers" [validateDampers]="validator.validateDampers"
                     (dataUpdate)="handleDampersUpdate($event)"></app-dampers>
      </div>
      <div *ngIf="selectedSetupPart === 'aero'">
        <app-aero [aeroValues]="setupValues.aero" [validateAero]="validator.validateAero"
                  (dataUpdate)="handleAeroUpdate($event)"></app-aero>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center m-2">
        <label for="create" class="col-sm-2">
          <span class="h6 small text-muted pt-1 pl-2 pr-2">Name</span>
        </label>
        <input id="create" type="text" [(ngModel)]="setupValues.name" class="form-control">
        <button class="btn btn-primary m-1" [disabled]="!setupValues.name" (click)="SubmitSetup()">
          Create
        </button>
      </div>
    </ng-container>
  </div>
</div>
