<div class="flex items flex-col font-semibold space-x-2 space-y-4">
  <div class="group-div">
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Traction Control</p>
        <input class="input">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>ABS</p>
        <input class="input">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>ECU Map</p>
        <input class="input">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Telemetry Laps</p>
        <input class="input">
      </div>
    </div>
  </div>
</div>
