<div class="setup-part">
  <div
    class="group-div">
    <h2 class="text-center">Front</h2>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <p>Left</p>
      </div>
      <div class="two-sided-row-item">

      </div>
      <div class="two-sided-row-item">
        <p>Right</p>
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input">
      </div>
      <div class="two-sided-row-item">
        <p>Front Chamber</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input">
      </div>
      <div class="two-sided-row-item">
        <p>Front Toe</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input">
      </div>
      <div class="two-sided-row-item">
        <p>Caster</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input">
      </div>
    </div>
  </div>
  <div class="group-div">
    <h2 class="text-center">Rear</h2>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input">
      </div>
      <div class="two-sided-row-item">
        <p>Rear Chamber</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input">
      </div>
      <div class="two-sided-row-item">
        <p>Rear Toe</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input">
      </div>
    </div>
  </div>
</div>
