<div class="setup-part">
  <div
    class="group-div">
    <h2 class="text-center">Front</h2>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <p>Left</p>
      </div>
      <div class="two-sided-row-item">

      </div>
      <div class="two-sided-row-item">
        <p>Right</p>
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.frontLeftCamber">
      </div>
      <div class="two-sided-row-item">
        <p>Front Camber</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.frontRightCamber">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.frontLeftToe">
      </div>
      <div class="two-sided-row-item">
        <p>Front Toe</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.frontRightToe">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.casterLeft">
      </div>
      <div class="two-sided-row-item">
        <p>Caster</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.casterRight">
      </div>
    </div>
  </div>
  <div class="group-div">
    <h2 class="text-center">Rear</h2>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.rearLeftCamber">
      </div>
      <div class="two-sided-row-item">
        <p>Rear Camber</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.rearRightCamber">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.rearLeftToe">
      </div>
      <div class="two-sided-row-item">
        <p>Rear Toe</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="tyresValues.rearRightToe">
      </div>
    </div>
  </div>
</div>
