<div class="setup-part">
  <div class="group-div">
    <h2 class="text-center">Front</h2>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Ride Height</p>
        <input class="input">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Splitter</p>
        <input class="input">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Brake Ducts</p>
        <input class="input">
      </div>
    </div>
  </div>
  <div class="group-div">
    <h2 class="text-center">Rear</h2>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Ride Height</p>
        <input class="input">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Rear Wing</p>
        <input class="input">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Brake Ducts</p>
        <input class="input">
      </div>
    </div>
  </div>
</div>
