<div class="setup-part">
  <div class="group-div">
    <h2 class="text-center">Front</h2>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Ride Height (mm)</p>
        <input class="input" type="number" [(ngModel)]="aeroValues.frontRideHeight">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Splitter (mm)</p>
        <input class="input" type="number" [(ngModel)]="aeroValues.splitter">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Brake Ducts</p>
        <input class="input" type="number" [(ngModel)]="aeroValues.frontBrakeDucts">
      </div>
    </div>
  </div>
  <div class="group-div">
    <h2 class="text-center">Rear</h2>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Ride Height (mm)</p>
        <input class="input" type="number" [(ngModel)]="aeroValues.rearRideHeight">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Rear Wing</p>
        <input class="input" type="number" [(ngModel)]="aeroValues.rearWing">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Brake Ducts</p>
        <input class="input" type="number" [(ngModel)]="aeroValues.rearBrakeDucts">
      </div>
    </div>
  </div>
</div>
