<div class="d-flex align-items-center justify-content-center container m-auto rounded-5 glass mh-75">
  <div class="d-flex flex-column justify-content-center align-items-center bg-body-tertiary bg-opacity-50 rounded-3 m-2 w-75">
    <div class="d-flex justify-content-center align-items-center flex-wrap mt-2">
      <ng-form class="d-flex flex-column w-auto" [formGroup]="loginForm">
        <div class="d-flex flex-column w-auto">
          <label for="username">
            Username
          </label>
          <input id="username" type="text" formControlName="username" name="username" class="form-control number-input">
          <p class="text text-warning" *ngIf="Username.errors?.['required'] && Username.touched">
            Username is required
          </p>
          <p class="text text-warning" *ngIf="Username.errors?.['minlength'] && Username.touched">
            Username needs to be at least 5 characters
          </p>
        </div>
        <div class="d-flex flex-column justify-content-center w-auto">
          <label for="password">
            Password
          </label>
          <input id="password" type="password" formControlName="password" name="password"
                 class="form-control number-input">
          <p class="text text-warning" *ngIf="Password.errors?.['required'] && Password.touched">
            Password is required
          </p>
          <p class="text text-warning" *ngIf="Password.errors?.['minlength'] && Password.touched">
            Password needs to be at least 8 characters
          </p>
        </div>
        <p class="flex justify-center items-center">Not a user yet? register
          <a routerLink="/register" class="text-blue-700 underline pl-1"> here</a>
        </p>
      </ng-form>
    </div>
    <div class="flex justify-center items-center">
      <button class="btn btn-primary m-1" (click)="LoginUser()" [disabled]="!loginForm.valid">
        Login
      </button>
    </div>
  </div>
</div>

