<div class="flex items flex-col font-semibold space-x-2 space-y-4">
  <div class="group-div">
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Fuel</p>
        <input class="input" type="number" [(ngModel)]="fuelStrategyValues.fuel">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Front Brakes</p>
        <input class="input" type="number" [(ngModel)]="fuelStrategyValues.frontBrakes">
      </div>
    </div>
    <div class="one-sided-row">
      <div class="one-sided-row-item">
        <p>Rear Brakes</p>
        <input class="input" type="number" [(ngModel)]="fuelStrategyValues.rearBrakes">
      </div>
    </div>
  </div>
</div>
