<div class="d-flex flex-column justify-content-center align-items-center rounded-4 blurred">
  <div class="d-flex flex-column">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="fuel">Fuel (liter)</label>
        <input id="fuel" class="form-control w-50 number-input" type="number" [(ngModel)]="fuelStrategyValues.fuel">
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="frontBrakes">Front Brakes</label>
        <input id="frontBrakes" class="form-control w-50 number-input" type="number" [(ngModel)]="fuelStrategyValues.frontBrakes">
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <label for="rearBrakes">Rear Brakes</label>
        <input id="rearBrakes" class="form-control w-50 number-input" type="number" [(ngModel)]="fuelStrategyValues.rearBrakes">
      </div>
    </div>
  </div>
</div>
