<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sim Setup Lab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link active" aria-current="page" href="{{localStorage.getItem('isLoggedIn') ? '/setup' : '/login'}}">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="!localStorage.getItem('isLoggedIn')" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="!localStorage.getItem('isLoggedIn')" href="/register">Register</a>
        </li>
      </ul>
      <ul>
        <li class="nav-item dropdown" *ngIf="localStorage.getItem('isLoggedIn')">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{localStorage.getItem('username')}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li *ngIf="localStorage.getItem('role') === 'ADMIN'">
              <a class="dropdown-item" href="/admin">Admin Dashboard</a>
            </li>
            <li>
              <a class="dropdown-item" href="/user/{{localStorage.getItem('userId')}}">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="LogoutUser()" href="/home">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
