<header>
  <div class="flex flex-row p-5">
    <div class=" pr-5">
      <a class="pr-5" routerLink="/">
        <h1>HOME</h1>
      </a>

    </div>
    <div *ngIf="localStorage.getItem('isLoggedIn') === 'true'">
      <a class="pr-5" routerLink="/profile">
          {{localStorage.getItem('username')}}
      </a>
      <button (click)="LogoutUser()">
        Logout
      </button>
    </div>
    <div *ngIf="!localStorage.getItem('isLoggedIn')">
      <a class="pr-5" routerLink="/login">
        Login
      </a>
      <a class="pr-5" routerLink="/register">
        Register
      </a>
    </div>
    <div>
      <a href="/setup">Setup</a>
    </div>
  </div>
</header>
