@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("./assets/images/menu_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.input {
  @apply p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]
}

.setup-part {
  @apply flex items-center flex-col font-semibold space-y-4
}

.group-div {
  @apply w-[90%] sm:w-[60%] md:w-[70%] lg:w-[70%] bg-[#212121] bg-opacity-90 mx-auto p-[24px] text-white
  flex flex-col gap-[20px] box-border rounded-[16px] border-[1px] border-[#414141] flex-wrap
}

.login-register {
  @apply w-[90%] sm:w-[60%] md:w-[50%] lg:w-[40%] bg-[#212121] bg-opacity-90 mx-auto p-[24px] text-white flex flex-col gap-[20px] box-border rounded-[16px]
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.one-sided-row {
  @apply flex flex-col flex-auto flex-nowrap items-center
}

.two-sided-row {
  @apply flex flex-row flex-auto flex-nowrap
}

.one-sided-row-item {
  @apply flex flex-col items-center
}

.two-sided-row-item {
  @apply flex flex-col items-center w-1/3
}
