<div class="container mt-5">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-body-secondary mt-5 fixed-bottom">
    <div class="d-flex align-items-center">
      <a href="/src" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">Loj Balázs, 2023</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-2 px-2">
      <li class="ms-3">
        <a href="https://www.linkedin.com/in/bal%C3%A1zs-loj-833a8427a/">
          <i class="bi-linkedin"></i>
        </a>
      </li>
      <li class="ms-3">
        <a href="https://github.com/lojb">
          <i class="bi-github"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
