<div
  class="w-[90%] sm:w-[60%] md:w-[50%] lg:w-[40%] bg-[#212121] mx-auto p-[24px] text-white flex flex-col gap-[20px] box-border rounded-[16px]">
  <button class="active:scale-[0.95]"></button>
  <div class="flex flex-col gap-[20px]">
    <form class="flex flex-col gap-[2px]" action="">
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">Username</label>
      <input type="text" [(ngModel)]="registerUserData.username" name="username"
             class="p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]">
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">Email</label>
      <input type="text" [(ngModel)]="registerUserData.email" name="email"
             class="p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]">
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">Password</label>
      <input type="password" [(ngModel)]="registerUserData.password" name="password"
             class="p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]">
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">Confirm Password</label>
      <input type="password" [(ngModel)]="registerUserData.confirmPassword" name="confirmPassword"
             class="p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]">
    </form>
  </div>
  <div
    class="flex items-start justify-center self-start text-[#717171] font-semibold w-[40%] bg-[#313131] border-[1px] border-[#414141] p-[12px] gap-[8px] mt-[8px] cursor-pointer rounded-[6px]
    hover:bg-blue-700 hover:text-gray-50">
    <button (click)="registerUser()">Login</button>
  </div>
</div>
