<div
  class="w-[90%] sm:w-[60%] md:w-[50%] lg:w-[40%] bg-[#212121] mx-auto p-[24px] text-white flex flex-col gap-[20px] box-border rounded-[16px]">
  <button class="active:scale-[0.95]"></button>
  <div class="flex flex-col gap-[20px]">
    <ng-form class="flex flex-col gap-[2px]" [formGroup]="registerForm">
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">
        Username
      </label>
      <input type="text" formControlName="username" name="username"
             class="p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]">
      <p class="text text-danger" *ngIf="Username.errors?.['required'] && Username.touched">
        Username is required
      </p>
      <p class="text text-danger" *ngIf="Username.errors?.['minlength'] && Username.touched">
        Username needs to be at least 5 characters
      </p>

      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">
        Email
      </label>
      <input type="text" name="email" formControlName="email"
             class="p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]">
      <p class="text text-danger" *ngIf="Email.errors?.['required'] && Email.touched">
        Email is required
      </p>
      <p class="text text-danger" *ngIf="Email.errors?.['email'] && Email.touched">
        Email is not valid
      </p>
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">
        Password
      </label>
      <input type="password" formControlName="password" name="password"
             class="p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]">
      <p class="text text-danger" *ngIf="Password.errors?.['required'] && Password.touched">
        Password is required
      </p>
      <p class="text text-danger" *ngIf="Password.errors?.['minlength'] && Password.touched">
        Password needs to be at least 8 characters
      </p>
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">
        Confirm Password
      </label>
      <input type="password" formControlName="confirmPassword" name="confirmPassword"
             class="p-[12px] rounded-[8px] text-white bg-transparent border-[1px] border-[#414141] placeholder-opacity-[0.5]">
      <p class="text text-danger" *ngIf="ConfirmPassword.touched && Password.value != ConfirmPassword.value">
        Passwords does not match
      </p>
      <p>Already registered? login
        <a routerLink="/login" class="text-blue-700 underline">here</a>
      </p>
    </ng-form>
  </div>
  <button class="flex items-start justify-center self-start text-[#717171] font-semibold w-[40%] bg-[#313131] border-[1px] border-[#414141] p-[12px] gap-[8px] mt-[8px] rounded-[6px]
    enabled:cursor-pointer enabled:hover:bg-blue-700 enabled:hover:text-gray-50"
          (click)="RegisterUser()" [disabled]="!registerForm.valid">
    Register
  </button>
</div>
