<div
  class="login-register">
  <button class="active:scale-[0.95]"></button>
  <div class="flex flex-col gap-[20px]">
    <ng-form class="flex flex-col gap-[2px]" [formGroup]="registerForm">
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">
        Username
      </label>
      <input type="text" formControlName="username" name="username"
             class="input">
      <p class="text text-danger" *ngIf="Username.errors?.['required'] && Username.touched">
        Username is required
      </p>
      <p class="text text-danger" *ngIf="Username.errors?.['minlength'] && Username.touched">
        Username needs to be at least 5 characters
      </p>

      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">
        Email
      </label>
      <input type="text" name="email" formControlName="email"
             class="input">
      <p class="text text-danger" *ngIf="Email.errors?.['required'] && Email.touched">
        Email is required
      </p>
      <p class="text text-danger" *ngIf="Email.errors?.['email'] && Email.touched">
        Email is not valid
      </p>
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">
        Password
      </label>
      <input type="password" formControlName="password" name="password"
             class="input">
      <p class="text text-danger" *ngIf="Password.errors?.['required'] && Password.touched">
        Password is required
      </p>
      <p class="text text-danger" *ngIf="Password.errors?.['minlength'] && Password.touched">
        Password needs to be at least 8 characters
      </p>
      <label class="mb-[5px] text-[#717171] font-semibold text-[12px]">
        Confirm Password
      </label>
      <input type="password" formControlName="confirmPassword" name="confirmPassword"
             class="input">
      <p class="text text-danger" *ngIf="ConfirmPassword.touched && Password.value != ConfirmPassword.value">
        Passwords do not match
      </p>
      <p class="flex justify-center items-center">Already registered? login
        <a routerLink="/login" class="text-blue-700 underline pl-1">here</a>
      </p>
    </ng-form>
  </div>
  <div class="flex justify-center items-center">
    <button class="disabled-button-40"
            (click)="RegisterUser()" [disabled]="!registerForm.valid">
      Register
    </button>
  </div>
</div>
