<div class="setup-part">
  <div
    class="group-div">
    <h2 class="text-center">Front</h2>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <p>Left</p>
      </div>
      <div class="two-sided-row-item">

      </div>
      <div class="two-sided-row-item">
        <p>Right</p>
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.frontLeftBump">
      </div>
      <div class="two-sided-row-item">
        <p>Front Bump</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.frontRightBump">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.frontLeftFastBump">
      </div>
      <div class="two-sided-row-item">
        <p>Front Fast Bump</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.frontRightFastBump">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.frontLeftRebound">
      </div>
      <div class="two-sided-row-item">
        <p>Front Rebound</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.frontRightRebound">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.frontLeftFastRebound">
      </div>
      <div class="two-sided-row-item">
        <p>Front Fast Rebound</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.frontRightFastRebound">
      </div>
    </div>
  </div>
  <div class="group-div">
    <h2 class="text-center">Rear</h2>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.rearLeftBump">
      </div>
      <div class="two-sided-row-item">
        <p>Rear Bump</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.rearRightBump">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.rearLeftFastBump">
      </div>
      <div class="two-sided-row-item">
        <p>Rear Fast Bump</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.rearRightFastBump">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.rearLeftRebound">
      </div>
      <div class="two-sided-row-item">
        <p>Rear Rebound</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.rearRightRebound">
      </div>
    </div>
    <div class="two-sided-row">
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.rearLeftFastRebound">
      </div>
      <div class="two-sided-row-item">
        <p>Rear Fast Rebound</p>
      </div>
      <div class="two-sided-row-item">
        <input class="input" type="number" [(ngModel)]="dampersValues.rearRightFastRebound">
      </div>
    </div>
  </div>
</div>
