<div class="d-flex flex-column justify-content-center align-items-center rounded-4 blurred">
  <div class="d-flex flex-column align-items-center">
    <h2>Front</h2>
    <div class="d-flex flex-row">
      <div class="mx-5">
        <p>Left</p>
      </div>
      <div class="mx-5">
        <p>Right</p>
      </div>
    </div>
    <div class="d-flex flex-row w-75">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.frontLeftBump">
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-50">
        <p>Front Bump</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.frontRightBump">
      </div>
    </div>
    <div class="d-flex flex-row w-75">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.frontLeftFastBump">
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-50">
        <p>Front Fast Bump</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.frontRightFastBump">
      </div>
    </div>
    <div class="d-flex flex-row w-75">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.frontLeftRebound">
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-50">
        <p>Front Rebound</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.frontRightRebound">
      </div>
    </div>
    <div class="d-flex flex-row w-75">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.frontLeftFastRebound">
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-50">
        <p>Front Fast Rebound</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.frontRightFastRebound">
      </div>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center">
    <h2 class="text-center">Rear</h2>
    <div class="d-flex flex-row w-75">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.rearLeftBump">
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-50">
        <p>Rear Bump</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.rearRightBump">
      </div>
    </div>
    <div class="d-flex flex-row w-75">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.rearLeftFastBump">
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-50">
        <p>Rear Fast Bump</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.rearRightFastBump">
      </div>
    </div>
    <div class="d-flex flex-row w-75">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.rearLeftRebound">
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-50">
        <p>Rear Rebound</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.rearRightRebound">
      </div>
    </div>
    <div class="d-flex flex-row w-75">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.rearLeftFastRebound">
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center w-50">
        <p>Rear Fast Rebound</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <input class="form-control w-50 number-input" type="number" [(ngModel)]="dampersValues.rearRightFastRebound">
      </div>
    </div>
  </div>
</div>
